body{
    height:100%;
    margin:0;
    display:flex;
    flex-direction: column;
}



p{
    display: block;
    
}

.contein{

    background: linear-gradient(to bottom, rgb(2, 121, 18), rgb(0, 0, 0));
    display: grid;
    grid-template-columns: 70% 30%;
    

   
}

 

.linea{
    background-color: aquamarine;
    width: 100%;
    position: absolute;
    top: 200px;
}

li{
    list-style: none !important;
}

.mifooter{
    background-color: rgb(13, 94, 44);
    text-align: center;
 

}

.footertext{
   
    margin: 0% !important;
}