nav{
    
    display: inline;
    background-color:none;
    padding-bottom: 20px;
    
    
    
    
    a:link{
        text-decoration: none;
    }

 
}


.nav-ul{
    display:flex;
    text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;

}
.logo{
    max-width: 20%;
    max-height: 100%;
    
}



.nav-li{
    padding-top: 2%;
    margin-left: 5%;
    display: inline-block;
    background-color:none;
    min-width: 150px;
    

 
        
}

.nav-text{
    
    padding-bottom: 20%;
    font-family: neue, helvetica;
    font-size:xx-large;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.939);
}
    




