.motivation{
    background: rgb(2, 121, 18);
    
    top:110%;
    padding-top: 0%;
    margin-top: 0%;
   
  
  
    
}



.motivation-ul{
    padding-inline-start: 0px !important;
   
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;


}

.m-li{

    padding: 1vw;
    
    padding-bottom: 5vw;
    display: inline-block;
    min-width: 150px;
}
.m-li:hover{
  background-color: rgba(240, 248, 255, 0.171);
}

.m-h3:hover{
   color: black;
}

.i-h3:hover{
    color: aliceblue;
}

.cont-img{
    background: linear-gradient(to bottom, rgb(12, 41, 13), rgb(2, 121, 18));
    width: 100%;
    height: 50%;
}


.m-img{
    

    min-width: 14vw;
    min-height: 14vw;
    max-width: 12vw;
    max-height: 12vw;

   
}


.m-h3{
    margin: 1% 10% 1% 10%;
    font-family: 'Manrope', sans-serif;  
      font-size: 2vw;
    color: rgb(246, 244, 247);
}  



.m-p{
 
    color:rgb(199, 253, 202);
    background: linear-gradient(to bottom, rgb(2, 121, 18), rgb(0, 0, 0));
    height: 30%;
    padding: 3% 8% 3% 8%;
    text-align: ceter;
    font-size:1.5vw;
    font-weight: 700;
    font-family: 'Hanken Grotesk', sans-serif;
}